h1{
	font-size:3em;
}
.logo{
  margin-top:7px;
  margin-left:20px;
  height:25px;
}
.wrapper1{
  padding:50px;
  background-color:#Bcc;
}
.wrapper2{
  padding-top:50px;
}
.navbar-default{
  min-height:40px;
}
.navbutton{
  color:#2C3E50 ;
}
.portrait{
  max-width:70%;
  margin-left:15%
}
.bob{
  border-left-width:1px;
  border-left-color:black;
  border-left-style:solid;
  margin-left:20px
}
.navbar{
  background-color:#bababa;
}
.navbutton:hover{
  background-color:#bdc3c7 !important;
}
.projectblowup{
  max-width:100%;
}
.projectimagecontainer{
  max-width:70%;
  background-color:white;
  border-right-width:1px;
  border-right-color:black;
  border-right-style:solid;
  padding-right:20px;
  margin-top:3%;
  height:300px;
}
.projectthumbnails{
  margin-top:6%
}
.thumbnails{
  max-width:75%;
  padding-left:3%;
  padding-right:3%;
  margin-bottom:8%;
  
}
.thumbnail3{
  padding-top:15%;
  padding-bottom:10%;
}
.projectdescription{
  padding-top:4%;
}
  .thumbnailsactive{
  border-width:3px;
  border-radius:2px;
  border-color:#C0392B; 
  border-style:solid;  
}
.project2{
  display:none;
}
.project3{
  display:none;
}
.projectwrapper{
  height:300px;
}
.project3>.col-sm-6>.projectimagecontainer{
  padding-top:5%;
}
.wrapper3{
  background-color:#94a9bE ;
  padding-bottom:2%;
}
.col-xs-2>a>i {
    display:block;
    text-align:center;
    color:black;
}
.socialbar{
  margin-top:1%;
}
h4{
  font-size:1.3em;
}